.App {
  font-family: sans-serif;
  text-align: center;
}
/* tspan {
    font: bold 5px sans-serif;
  } */

.container {
  grid-template-columns: [first] 10% [line2] 20% [line3] auto [col4-start] 20% [five] 10% [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  justify-items: center;
}
.item-header {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-a {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-b {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
